body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
}
img {
  max-width: 250px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}
